<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/3387bcf0-f8bf-4598-84ed-3f40a1b36383/resourcegroups/AutoservisRKSResourceGroup/providers/Microsoft.Web/sites/AutoservisRKS</ResourceId>
    <ResourceGroup>AutoservisRKSResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://autoservisrks.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>autoservisrks.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>AutoservisRKS</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>AutoservisRKS</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AutoservisRKSEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:autoservisrksdbserver.database.windows.net,1433;Initial Catalog=AutoservisRKS_db;User ID=amar@autoservisrksdbserver;Password=Mostar2017" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="AutoservisRKS_API.Models.AutoservisRKSEntities, AutoservisRKS_API" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="AutoservisRKSEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model.csdl|res://*/Models.Model.ssdl|res://*/Models.Model.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:autoservisrksdbserver.database.windows.net,1433;Initial Catalog=AutoservisRKS_db;User ID=amar@autoservisrksdbserver;Password=Mostar2017"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>