USE [master]
GO
/****** Object:  Database [AutoservisRKS]    Script Date: 09.01.2019. 22:47:10 ******/
CREATE DATABASE [AutoservisRKS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AutoservisRKS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\AutoservisRKS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AutoservisRKS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\AutoservisRKS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AutoservisRKS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AutoservisRKS]
GO
USE [AutoservisRKS]
GO
/****** Object:  Table [dbo].[AutorizacijskiToken]    Script Date: 09.01.2019. 22:47:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AutorizacijskiToken](
	[AutorizacijskiTokenID] [int] IDENTITY(1,1) NOT NULL,
	[Vrijednost] [nvarchar](max) NULL,
	[KlijentID] [int] NULL,
	[VrijemeEvidentiranja] [datetime] NULL,
	[IpAdresa] [nvarchar](100) NULL,
	[DeviceInfo] [nvarchar](100) NULL,
 CONSTRAINT [PK_AutorizaciskiToken] PRIMARY KEY CLUSTERED 
(
	[AutorizacijskiTokenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Klijenti]    Script Date: 09.01.2019. 22:47:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Klijenti](
	[KlijentID] [int] IDENTITY(1,1) NOT NULL,
	[Ime] [nvarchar](50) NULL,
	[Prezime] [nvarchar](50) NULL,
	[Telefon] [nvarchar](30) NULL,
	[Email] [nvarchar](50) NULL,
	[KorisnickoIme] [nvarchar](50) NULL,
	[LozinkaSalt] [nvarchar](max) NULL,
	[LozinkaHash] [nvarchar](max) NULL,
 CONSTRAINT [PK_Klijenti] PRIMARY KEY CLUSTERED 
(
	[KlijentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ponude]    Script Date: 09.01.2019. 22:47:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ponude](
	[PonudaID] [int] IDENTITY(1,1) NOT NULL,
	[MarkaAuta] [nvarchar](50) NOT NULL,
	[Cijena] [decimal](18, 0) NOT NULL,
	[DatumPocetka] [datetime] NOT NULL,
	[DatumZavrsetka] [datetime] NOT NULL,
	[Prihvacen] [bit] NULL,
	[Odgovoren] [bit] NULL,
	[UpitID] [int] NOT NULL,
 CONSTRAINT [PK_Ponude] PRIMARY KEY CLUSTERED 
(
	[PonudaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Upiti]    Script Date: 09.01.2019. 22:47:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Upiti](
	[UpitID] [int] IDENTITY(1,1) NOT NULL,
	[MarkaAuta] [nvarchar](50) NOT NULL,
	[PodaciOMotoru] [nvarchar](100) NOT NULL,
	[OpisKvara] [nvarchar](max) NOT NULL,
	[KlijentID] [int] NOT NULL,
	[DatumSlanja] [datetime] NULL,
 CONSTRAINT [PK_Upiti] PRIMARY KEY CLUSTERED 
(
	[UpitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[AutorizacijskiToken]  WITH CHECK ADD  CONSTRAINT [FK_AutorizacijskiToken_Klijenti] FOREIGN KEY([KlijentID])
REFERENCES [dbo].[Klijenti] ([KlijentID])
GO
ALTER TABLE [dbo].[AutorizacijskiToken] CHECK CONSTRAINT [FK_AutorizacijskiToken_Klijenti]
GO
ALTER TABLE [dbo].[Ponude]  WITH CHECK ADD  CONSTRAINT [FK_Ponude_Upiti] FOREIGN KEY([UpitID])
REFERENCES [dbo].[Upiti] ([UpitID])
GO
ALTER TABLE [dbo].[Ponude] CHECK CONSTRAINT [FK_Ponude_Upiti]
GO
ALTER TABLE [dbo].[Upiti]  WITH CHECK ADD  CONSTRAINT [FK_Upiti_Klijenti] FOREIGN KEY([KlijentID])
REFERENCES [dbo].[Klijenti] ([KlijentID])
GO
ALTER TABLE [dbo].[Upiti] CHECK CONSTRAINT [FK_Upiti_Klijenti]
GO
/****** Object:  StoredProcedure [dbo].[GetTokenPoVrijednosti]    Script Date: 09.01.2019. 22:47:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetTokenPoVrijednosti]
	@token nvarchar(max)
AS
	SELECT *
	from AutorizacijskiToken
	where Vrijednost=@token
GO
USE [master]
GO
